<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>LoginAndRegistration</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>preLogInServlet</servlet-name>
    <url-pattern>/preLogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>preLogInServlet</servlet-name>
    <servlet-class>com.bridgelabz.loginandregistration.controllers.PreLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>preSignUpServlet</servlet-name>
    <url-pattern>/preSignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>preSignUpServlet</servlet-name>
    <servlet-class>com.bridgelabz.loginandregistration.controllers.PreSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/signUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.bridgelabz.loginandregistration.controllers.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessfullyRegisteredServlet</servlet-name>
    <url-pattern>/successfullyRegisteredServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuccessfullyRegisteredServlet</servlet-name>
    <servlet-class>com.bridgelabz.loginandregistration.controllers.SuccessfullyRegisteredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAfterRegistration</servlet-name>
    <url-pattern>/loginAfterRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAfterRegistration</servlet-name>
    <servlet-class>com.bridgelabz.loginandregistration.controllers.PreLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessfulLoginServlet</servlet-name>
    <url-pattern>/SuccessfulLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuccessfulLoginServlet</servlet-name>
    <servlet-class>com.bridgelabz.loginandregistration.controllers.SuccessfulLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnsuccessfulLoginServlet</servlet-name>
    <url-pattern>/unsuccessfulLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UnsuccessfulLoginServlet</servlet-name>
    <servlet-class>com.bridgelabz.loginandregistration.controllers.UnsuccessfulLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessfullyLogoutServlet</servlet-name>
    <url-pattern>/SuccessfullyLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuccessfullyLogoutServlet</servlet-name>
    <servlet-class>com.bridgelabz.loginandregistration.controllers.SuccessfullyLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bridgelabz.loginandregistration.controllers.LoginServlet</servlet-class>
  </servlet>
  
  <filter-mapping>
    <filter-name>SignUpServlet</filter-name>
    <url-pattern>/signUpServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SignUpServlet</filter-name>
    <filter-class>com.bridgelabz.loginandregistration.filters.ValidationFilter</filter-class>
  </filter>
  
 <listener>
		<description>Session Listener Example</description>
		<listener-class>com.bridgelabz.loginandregistration.listeners.MyHttpSessionListener</listener-class>
	</listener>
  
  <servlet-mapping>
    <servlet-name>UnsuccessfulRegisterServlet</servlet-name>
    <url-pattern>/UnsuccessfulRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UnsuccessfulRegisterServlet</servlet-name>
    <servlet-class>com.bridgelabz.loginandregistration.controllers.UnsuccessfulRegisterServlet</servlet-class>
  </servlet>
</web-app>